.dashboard-heading{
    text-align: center;
}

.toggle-div{
    display: flex;
    justify-content: center;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 2%;
}

.pagination-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 1%;
    gap: 5;

}



.create-btn-div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 5px;
   
}

.button-group{
    gap: 15px;
}






/* NEW */



  
  .modal-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center; 
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
    max-height: 300px; 
    overflow-y: auto; 
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    padding-top: 15px; 
  }
  

  















